@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Avant Garde bold";
    font-weight: 500;
    src:url("/assets/fonts/ITCAvantGardeStd-BoldObl.otf") format("opentype")
}

@font-face {
    font-family: "Avant Garde";
    font-weight: 500;
    src:url("/assets/fonts/ITCAvantGardeStd-DemiObl.otf") format("opentype")
}


@font-face {
    font-family: "Poly Sans thick";
    font-weight: 600;
    src:url("/assets/fonts/PolySans-Bulky-Wide.ttf")
  } 
  
  @font-face {
    font-family: "Poly Sans";
    font-weight: 400;
    src:url("/assets/fonts/PolySans-Neutral.ttf")
  }
  
  @font-face {
    font-family: "Poly Sans medium";
    font-weight: 300;
    src:url("/assets/fonts/PolySans-Median.ttf")
  }

body, html {
    @apply font-secondary;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

}

.container {
    @apply mx-auto max-w-[1600px];

}